*.suo
ConsoleExamples/bin/
ConsoleExamples/obj/
OCR/bin/
OCR/obj/
SOMColors/bin/
SOMColors/obj/
EncogCmd/bin/
EncogCmd/obj/
TestResults/
_ReSharper.encog-core-cs/
encog-core-cs/bin/
encog-core-cs/obj/
encog-core-test/bin/
encog-core-test/obj/

EncogCmd/VSdoc/EncogCmd.hhc
EncogCmd/VSdoc/encog-core-cs_dyn_help.xml
EncogCmd/VSdoc/msdn2/CFW.gif
EncogCmd/VSdoc/msdn2/collall.gif
SOMColors/SOMColors.csproj.vs10x
ConsoleExamples/ConsoleExamples.csproj.vs10x
OCR/OCR.csproj.vs10x
encog-core-cs/encog-core-cs.csproj.vs10x
EncogCmd/VSdoc/unregister_encog-core-cs.bat
EncogCmd/VSdoc/HelixoftHelpReg.exe
EncogCmd/VSdoc/FINAL_CHM_DOC/encog-core-cs.chm
EncogCmd/VSdoc/encog-core-cs.chm
encog-core-cs.5.1.ReSharper.user
encog-core-cs.5.1.ReSharper.user
encog-core-cs.5.1.ReSharper.user
ConsoleExamples/ConsoleExamples.vsdoc
encog-core-cs.5.1.ReSharper.user
encog-core-cs.5.1.ReSharper.user
encog-core-cs.5.1.ReSharper.user