<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CSVanalyze.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CSVanalyze.Properties.Settings>
            <setting name="InputSize" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="OutPutSize" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Hidden1" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Hidden2" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="StartDate" serializeAs="String">
                <value>2008-01-01</value>
            </setting>
            <setting name="EndDate" serializeAs="String">
                <value>2008-02-01</value>
            </setting>
            <setting name="EvalStartDate" serializeAs="String">
                <value>2011-01-01</value>
            </setting>
            <setting name="EvalEndDate" serializeAs="String">
                <value>2011-03-03</value>
            </setting>
            <setting name="MaxTrainingTime" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MaxEpochs" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="TrainingOpen" serializeAs="String">
                <value>TrainingOpen.egb</value>
            </setting>
            <setting name="TrainingClose" serializeAs="String">
                <value>TrainingClose.egb</value>
            </setting>
            <setting name="TrainingHigh" serializeAs="String">
                <value>TrainingHigh.egb</value>
            </setting>
            <setting name="TrainingLow" serializeAs="String">
                <value>TrainingLow.egb</value>
            </setting>
            <setting name="NetworkFeedOpen" serializeAs="String">
                <value>FeedNetworkOpen.eg</value>
            </setting>
            <setting name="NetworkElmanOpen" serializeAs="String">
                <value>ElmanNetworkOpen.eg</value>
            </setting>
            <setting name="NetworkElmanClose" serializeAs="String">
                <value>ElmannetworkClose.eg</value>
            </setting>
            <setting name="NetworkElmanHigh" serializeAs="String">
                <value>ElmannetworkHigh.eg</value>
            </setting>
            <setting name="NetworkElmanLow" serializeAs="String">
                <value>ElmannetworkLow.eg</value>
            </setting>
            <setting name="NetworkFeedHigh" serializeAs="String">
                <value>FeedNetworkHigh.eg</value>
            </setting>
            <setting name="NetworkFeedLow" serializeAs="String">
                <value>FeedNetWorkLow.eg</value>
            </setting>
            <setting name="NetworkFeedClose" serializeAs="String">
                <value>FeednetworkClose.eg</value>
            </setting>
            <setting name="NetworkJordanOpen" serializeAs="String">
                <value>JordanNetworkOpen.eg</value>
            </setting>
            <setting name="NetworkJordanHigh" serializeAs="String">
                <value>JordanNetworkHigh.eg</value>
            </setting>
            <setting name="NetworkJordanLow" serializeAs="String">
                <value>JordanNetworkLow.eg</value>
            </setting>
            <setting name="NetworkJordanClose" serializeAs="String">
                <value>JordanNetworkClose.eg</value>
            </setting>
            <setting name="Symbol" serializeAs="String">
                <value>EURGBP</value>
            </setting>
        </CSVanalyze.Properties.Settings>
    </userSettings>
</configuration>